
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

<div class="span8 offset7 smurfy">

<br></br>
<br></br>

<h1 class="custom-h1">
	FIASCO
	</h1>

<br></br>

<br></br>
<h2 class="custom-h2">
	Stop guessing... start drinking
</h2>

<br></br>

<h2 class="text-center">
<%= link_to 'Join', '#', :class => 'btn btn-danger btn-large'%>
</h2>

</div>